[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/r-marchenko
[access "refs/for/refs/*"]
	read = group user/r-marchenko
	push = group user/r-marchenko
	label-Code-Review = -2..+2 group user/r-marchenko
	label-Verified = -1..+1 group user/r-marchenko
	rebase = group user/r-marchenko
	removeReviewer = group user/r-marchenko
	submit = group user/r-marchenko
[access "refs/heads/*"]
	read = group user/r-marchenko
	create = group user/r-marchenko
	push = +force group user/r-marchenko
	pushMerge = group user/r-marchenko
[access "refs/tags/*"]
	push = group user/r-marchenko
	push = +force group user/r-marchenko
